body{
	text-align:center;
	font-family:arial;
}
.preload{
	display:inline-block;
	width:100%;
	margin-top:20%;
}
.contentBox{
	display:inline-block;
	width:100%;
	margin-top:15%;
	opacity:0;
	transition:0.4s;
}
.contentBox h1{
	opacity:0;
	transition:0.4s;
}
.contentBox p{
	display:inline-block;
	width:100%;
	margin:0;
	padding:10px 0 10px 0;
}
.contentBox .cB_small{
	font-size:14px;
	opacity:0;
	transition:0.4s;
}
.contentBox .cB_big{
	font-size:26px;
	opacity:0;
	transition:0.4s;
}